.mainFxmlClass {

    .anchor-pane {
        -fx-background-color: #FFFFFF;
    }
    .v-box {
        -fx-background-color: #FFFAFF;
    }
    .scroll-pane {
        -fx-background-color: #FFFFFF;
    }
    .scroll-bar:vertical{
        -fx-background-color:transparent;
    }

    .scroll-bar:horizontal .thumb,
        .scroll-bar:vertical .thumb {
        -fx-background-color: #1E1B18;
        -fx-background-radius: 5em;
    }
    .scroll-bar:vertical .track,
        .scroll-bar:vertical *.decrement-button,
        .scroll-bar:vertical *.increment-button,
        .scroll-bar:vertical *.increment-arrow,
        .scroll-bar:vertical *.decrement-arrow {

        -fx-background-color: #FFFFFF;
        -fx-border-color: #FFFFFF;
        -fx-background-radius: 0em;
    }
    .scroll-pane .corner {
        -fx-background-color: transparent;
    }
    .check-box {
        -fx-padding: 5px 20px 0px 5px;
        -fx-font-size: 20px;
    }
    .check-box .box {
        -fx-background-radius: 500em;
        -fx-background-color: #FFFFFF;
        -fx-border-color: #1E1B18;
       
    }
    .text-field {
        -fx-background-color: #FFFAFF;
        -fx-font-size: 20px;
    }
    .menu-item {
        -fx-font-size: 15px;
    }

}